extends ../layout

block content
  .wrapper: .response.container: .content
    if result && result.message
      .icon
        img(src="/images/#{result.icon}.svg" alt="")

      h1=result.header
      section
        p= result.message
    else
      section
        p Oops! Something went wrong. Please contact us at info@coder-kids.com.

    section
      a.button.primary.back(href='https://cecilia-ramirez-f520.squarespace.com')
        span Return to Coder Kids

  aside.drawer.dark
    header: .content.compact
      a.braintree(href='https://cecilia-ramirez-f520.squarespace.com', target='_blank') Coder Kids
      h3 Coder Kids Membership Information

    article.content.compact
      section
        h5 Membership Details

        table(cellpadding="0" cellspacing="0")
          tbody
            tr
              th Memberships Starts
              td= subscription.firstBillingDate
            tr
              th Price
              td= subscription.price
            tr
              th Number of Months
              td= subscription.numberOfBillingCycles

      section
        p.center.small Want to enroll another Coderkid? Contact us at info@coder-kids.com to receive a 10% sibling discount.
      section
        a.button.secondary.full(href="http://goo.gl/forms/XUkRqijpgKrf4Xhf1", target="_blank") 
          span Schedule Your Coderkid
